@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.bg-position-custom {
    background-position: top 40% right 0;
  }

.active::after,
.hovered::after {
  content: '';
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 25%;
  background: #008178;
  transition: width 0.3s;
}